<!-- Bio Links -->
<div class="bio__links">
  <a href="/assets/resume.pdf" target="_blank" class="bio__link">
    <i class="fa-solid fa-file-lines"></i>
    Resume
  </a>
  <a href="https://github.com/rgs2151" target="_blank" class="bio__link">
    <i class="fa-brands fa-github"></i>
    GitHub
  </a>
  <a href="https://scholar.google.com/citations?user=nN4ARxkAAAAJ&hl=en" target="_blank" class="bio__link">
    <i class="fa-solid fa-graduation-cap"></i>
    Scholar
  </a>
  <a href="mailto:rgs2151@columbia.edu" class="bio__link">
    <i class="fa-solid fa-envelope"></i>
    rgs2151 [at] columbia.edu
  </a>
</div>
