{%- if site.posts.size > 0 -%}

<div class="legend">
  <div class="legend__item">
    <span class="legend__indicator legend__indicator--thoughts"></span>
    <span class="legend__text">thought</span>
  </div>
  <div class="legend__item">
    <span class="legend__indicator legend__indicator--peer-reviewed"></span>
    <span class="legend__text">reviewed</span>
  </div>
</div>

<div class="postslist">
  {%- assign posts = site.posts | sort: 'date' | reverse -%}
  {%- for post in posts -%}

    {%- if post.link -%}
    <a class="postslist__item" href="{{ post.link }}" target="_blank" rel="noopener noreferrer">
    {%- else -%}
    <a class="postslist__item" href="{{ post.url | relative_url }}">
    {%- endif -%}
      <div class="postslist__item__indicator postslist__item__indicator--{{ post.tag }}"></div>
      <div class="postslist__item__content">
        <h2 class="postslist__item__title">
          {{ post.title | escape }}
        </h2>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <div class="postslist__item__date">{{ post.date | date: date_format }}</div>
      </div>
    </a>
  {%- endfor -%}
</div>
{%- endif -%}

