<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    
    <main class="page">
      
      {% include nav.html %}

      <header class="page__header">
        {% if page.hero %}
        <img src="{{ page.hero }}" alt="{{ page.title }}" class="page__hero">
        {% endif %}
        <h1 class="page__title">{{ page.title }}</h1>
        {% if page.date %}
        <div style="height: 1rem;"></div>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <div class="postslist__item__date">{{ page.date | date: date_format }}</div>
        {% endif %}
			</header>

      <div class="page__content">
        {{ content }}
      </div>

      {% if page.post_list %}
        {% include post_list.html %}
      {% endif %}
      
      <footer class="footer">
        <svg height="30" width="400" id="footer_pijazz"></svg>
        <div class="footer__cp">© 2025</div>
      </footer>

      {% include scripts.html %}
    
    </main>

  </body>

</html>
